body{
  width: 1000px;
}
header{
  background-color: #b2e7ff;
  font-family: tahoma;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px #0ab1ff;
}

section{
  display: flex;
  display: -webkit-flex;
  position: relative;
}

nav{
  width: 230px;
  background-color: #0ab1ff;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

article{
  width: 730px;
  padding: 10px;
}

nav h3{
  font-family: tahoma;
  font-size: 18px;
  line-height: 18px;
  color: black;
}

nav ul{
  padding-left: 10px;
}

nav ul li{
  color: white;
  font-size: 14px;
  font-family: tahoma;
  margin: 5px;
}

ul li a{
  text-decoration:none;
  color: white;
}

nav p{
  font-family: tahoma;
  font-size: 12px;
  color: black;
}

article{
  background-color: #ededed;
}

article > h3{
  font-family: tahoma;
  font-size: 24px;
  color: black;
}

article p{
  font-family: tahoma;
  font-size: 14px;
  color: #802525; 
}

footer{
  background-color: #3cff78;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px #0ab1ff;
}

footer > h3{
  font-family: tahoma;
  color: black;
  font-size: 24px;
}

#fixed-box{
  position: absolute;
  bottom: 100px;
  background-color: #ffbeb3;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid red;
  font-size: 12px;
}