body{
  padding: 0;
  margin: 0;
  font-family: Arial;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header h1{
  color: #4d4d4d;
  font-size: 20px;
}

.vertical-line {
    border-left: 2px solid #e6e6e6;
    height: 30px;
    margin-left: 30px;
}

#header-links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

#header-links li{
  list-style: none;
  margin-left: 15px;
  font-size: 15px;
}

#header-links a{
  text-decoration: none;
  color: #8c8c8c;
}

#header-img{
  width: 100%; 
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.shopping-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.products-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  border: 2px solid #f2f2f2;
  margin-left: 5px;
}

.product img{
  margin-bottom: 30px;
}

.products-heading{
  font-size: 18px;
  color: #737373;
  font-weight: 500;
}

.products-name{
  font-size: 15px;
  margin: 2px;
  color: #8c8c8c
}

.products-price{
  font-size: 15px;
  color: #595959;
  margin: 2px;
}

.products-price sup{
  color: #666666;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}

@media only screen and (max-width: 600px) {

  .products-list{
    flex-direction: column;
  }

  #header-links{
    flex-direction: column;
  }
}